<head>
    <link rel="stylesheet" href="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.css" />
  </head>
  <body>
    <div class="chat-container"></div>
    {% if 'id' not in request.session %}
    <div> your not connected</div>
    {% endif %}
  
    <script src="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.js"/></script>
    <script type="text/javascript">
      var chatroom = new window.Chatroom({
        host: "http://localhost:5005",
        title: "Chat Bank",
        container: document.querySelector(".chat-container"),
        welcomeMessage: "Salut, comment je peux vous aidez? ",
        speechRecognition: "fr-FR",
        voiceLang: "fr-FR"
      });
      chatroom.openChat();
    </script>
  </body>