<head>
    <link rel="stylesheet" href="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.css" />
  </head>
  <body>
    <div class="chat-container"></div>
  
    <script src="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.js"/></script>
    <script type="text/javascript">
      var chatroom = new window.Chatroom({
        host: "http://localhost:5005",
        title: "Bank assistant",
        container: document.querySelector(".chat-container"),
        welcomeMessage: "Hi, I'am an assistant powered by Na3im . You Can Start by saying Hi ?",
        speechRecognition: "en-UK",
        voiceLang: "en-UK"
      });
      chatroom.openChat();
    </script>
  </body>